body {
	padding-top: 50px;
	background: #2C3E50;
}
#inicio {
	background: #2C3E50;
	padding: 5%;
	padding-left: 20%;
	padding-right: 20%
}
#inicio h1 {
	color: wheat;
}

#portafolio {
	background: #18BC9C;
}